@import "styles/variables";
@import "styles/mixins";

.Navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobileLarge) {
    position: fixed;
    flex-direction: column;
    z-index: 13;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    border-radius: 0 0 8px 8px;
    padding: 28px 28px 40px;
  }

  .CallButton {
    margin-right: 48px;

    svg {
      stroke: #fff;
      display: none;
    }
    &:hover {
      background: $secondary;
      color: #fff;
      svg {
        stroke: #fff;
      }
    }

    @media (max-width: $desktopSmall) {
      background: $primary;
      font-size: 0;
      line-height: 0;
      padding: 12px;
      margin-right: 20px;

      svg {
        display: block;
      }
    }
  }

  .ToActionButton {

    svg {
      stroke: #fff;
      display: none;
    }

    @media (max-width: $desktopSmall) {
      background: $primary;
      font-size: 0;
      line-height: 0;
      padding: 12px;

      svg {
        display: block;
      }
    }
  }
}

.Backdrop {
  display: none;
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;

  @media (max-width: $mobileLarge) {
    display: block;
  }
}

.Header {
  justify-content: space-between;
  align-items: flex-start;
  display: none;

  @media (max-width: $mobileLarge) {
    display: flex;
  }
}

.Logo {
  line-height: 0;
  display: block;

  img {
    display: block;
    width: 80px;
    height: 64px;
  }
}

.Close {
  display: none;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 24px;
  height: 24px;

  svg {
    fill: $black;
  }

  @media (max-width: $mobileLarge) {
    display: block;
  }
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;


  @media (max-width: $mobileLarge) {
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 28px;
    padding-bottom: 28px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $secondary;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.Item {
  margin-right: 48px;

  @media (max-width: $desktopMedium) {
    margin-right: 40px;
  }

  @media (max-width: $tablet) {
    margin-right: 48px;
  }

  @media (max-width: $mobileLarge) {
    text-align: center;
    margin-bottom: 24px;
    margin-right: 0;
  }

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.Link {
  text-decoration: none;
  color: $black;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $black;
    position: absolute;
    bottom: -5px;
    transform: scaleX(0);
    transition-duration: 500ms;
    transition-property: transform;
  }

  &:hover {

    &::after {

      @media (min-width: $desktopSmall) {
        transform: scaleX(1);
      }
    }
  }

  &:active {
    color: $black;
  }

  @media (max-width: $desktopSmall) {
    font-size: 14px;
    line-height: 16px;
  }


  @media (max-width: $mobileLarge) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $mobileLarge + 1px) {
    &.OtherPage {
      color: #fff;

      &::after {
        background: #fff;
      }
    }
  }
}

.Buttons {

  @media (max-width: $tabletSmall) {
    display: none;
  }

  @media (max-width: $mobileLarge) {
    display: flex;
    flex-direction: column;

    .CallButton {
      order: 1;
      font-size: 14px;
      line-height: 16px;
      color: $primary;
      border: 1px solid $primary;
      max-width: 240px;
      padding: 16px 0;
      margin: 0 auto;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: transparent;

      svg {
        stroke: $primary;
        display: block;
        order: 1;
        margin-left: 10px;
      }
    }

    .ToActionButton {
      font-size: 14px;

      line-height: 16px;
      max-width: 240px;
      width: 100%;
      margin: 0 auto 20px;
      padding: 16px 0;

      svg {
        stroke: #fff;
        display: none;
      }
    }
  }
}