@import "styles/variables";
@import "styles/mixins";

.Slider {
  padding: 21px 16px 36px !important;
  margin: -21px -16px -36px !important;

  @media (max-width: $mobileLarge) {
    margin-right: -17px !important;
  }
}

.Slide {
  overflow: hidden;
  filter: drop-shadow(0 7px 8px rgba(0, 0, 0, 0.65));
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.Img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
  outline: 2px solid transparent;
  user-select: none;
  outline-offset: -2px;
  -webkit-tap-highlight-color: transparent;
}

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.Bullet {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;

  @media (min-width: $desktop) {
    width: 10px;
    height: 10px;
  }
}

.BulletActive {
  background: $red;
}