@import "styles/variables";
@import "styles/mixins";

.Card {
  background: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  @media (max-width: $desktopSmall) {
    padding: 28px;
  }

  @media (max-width: $tabletSmall) {
    padding: 20px;
  }

  @media (max-width: 500px) {
    padding: 24px;
  }
}

.Title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $primary;
  margin: 0 0 40px;

  @media (max-width: $desktopSmall) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 28px;
  }

  @media (max-width: $tabletSmall) {
    margin-bottom: 20px;
  }

  @media (max-width: 500px) {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
  }
}

.List {
  list-style: none;
  margin: 0 0 28px;
  padding: 0;
}

.Item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 500px) {
    margin-bottom: 24px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Name {
  font-size: 14px;
  line-height: 16px;
  color: $black2;

  @media (max-width: $desktopSmall) {
    font-size: 12px;
    line-height: 16px;
  }
}

.Value {
  margin-left: 5%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $black;

  @media (max-width: $desktopSmall) {
    font-size: 12px;
    line-height: 16px;
  }
}

.Button {
  margin-top: auto;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 16px;
}