@import "styles/variables";
@import "styles/mixins";

.Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  overflow: hidden;

  @include backdrop;
}

.Slider {
  z-index: 99;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div {
    align-items: center !important;
    height: auto !important;
  }
}

.SliderWrapper {
  display: none;
}

.Slide {
  height: auto !important;
  justify-content: center;
  display: flex;
}

.Picture {
  width: auto;
  height: auto;
  max-height: 80vh;
  max-width: 75vw;
  display: block;
  margin: 0 auto;
  background: $gray;

  @media (min-width: $desktop) {
    max-width: 900px;
  }
}

.Close {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 99;
  margin-top: 12px;

  @media (min-width: $desktop) {
    font-size: 20px;
    margin-top: 40px;
  }
}

.Navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(calc(-50% - 20px));
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  visibility: hidden;
  z-index: 99;
  @media (min-width: $tabletSmall) {
    padding: 0 12px;
    max-width: 1104px;
    margin: 0 auto;
  }
}

.Prev,
.Next {
  visibility: visible;
  border: none;
  background: rgba(217, 217, 217, 0.4);
  display: flex;
  width: 28px;
  height: 28px;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;

  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }

  @media (min-width: $tabletSmall) {
    width: 28px;
    height: 28px;
  }

  svg {
    fill: #fff;
  }
}