@import "styles/variables";

.Gallery {
  font-weight: 700;
  margin: 80px 0 100px;

  @media (max-width: $desktopMedium) {
    margin: 80px 0 100px;
  }

  @media (max-width: $desktopSmall) {
    margin: 60px 0;
  }

  @media (max-width: $tablet) {
    margin: 40px 0;
  }
}

.List {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 23.5%);
  grid-column-gap: 1.96%;
  grid-row-gap: 4%;
  justify-content: space-between;

  @media (max-width: $desktopSmall) {
    grid-template-columns: repeat(4, 23.72%);
  }

  @media (max-width: $mobileLarge) {
    grid-template-columns: repeat(3, 31.31%);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.Item {
  border-radius: 24px;
  overflow: hidden;

  @media (max-width: $desktopMedium) {
    border-radius: 12px;
  }
}

.Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: transform;
  transition-duration: 250ms;

  &:hover {
    @media (min-width: $desktopSmall) {
      transform: scale(1.1)
    }
  }
}