@import "styles/variables";
@import "styles/mixins";

.Modal {
  min-height: 490px;
  //max-height: 100vh !important;
}

.Title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $black;
  margin: 0 0 12px;
}

.Info {
  font-size: 16px;
  line-height: 24px;
  color: $black2;
  opacity: 0.7;
  margin: 0 0 28px;
}

.Form {
  .Input {
    margin-bottom: 28px;
  }
}

.Button {
  margin-top: 40px;
  width: 100%;
  height: 48px;
}

.SelectWrapper {
  width: 100%;
  height: 55px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 20px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    transform: translateY(-50%) rotate(45deg);
  }
}

.Select {
  width: 100%;
  border: 1px solid #E7E8E9;
  height: 100%;
  border-radius: 8px;
  padding: 10px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;


  &:invalid {
    color: #9FA3A9;
    font-weight: 500;
  }
}

.ErrorMessage {
  color: $red;
  font-size: 11px;
  line-height: 16px;
  display: inline-block;
  margin-top: 2px;

  @media (min-width: $tabletSmall) {
    font-size: 13px;
    line-height: 18px;
  }
}

.Fetch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Icon {
  display: block;
  margin: 0 auto;
}

.Message {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
}

.Back {
  display: block;
  margin: 0 auto;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.File {
    outline: none;
    color: #878787;
    &::-webkit-file-upload-button {
   
      border: 1px solid #E7E8E9;
      border-radius: 4px;
      background: #fff;
      color: #9FA3A9;
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      outline: none;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: 0.2s ease;
      &:hover {
        //  background: $primary;
        // color: #fff;
        border-color: $primary;
      }
      &:active {
        background: $primary;
        color: #fff;
      }
    }   
  }