@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.Button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background: rgba(249, 249, 249, 0.78);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.Icon {
  fill: $gray2;
  width: 11px;
  height: 11px;
}