@import "styles/variables";
@import "styles/fonts";

.Header {
  padding: 20px 0;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}
.Logo{
  @media (max-width: 640px){
    width: 84px;
  }
}

.OtherPage {

}

.Wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .CallButton {
    margin-right: 48px;

    svg {
      stroke: #fff;
      display: none;
    }

    @media (max-width: $desktopSmall - 1px) {
      background: $primary;
      font-size: 0;
      line-height: 0;
      padding: 12px;
      margin-right: 20px;

      svg {
        display: block;
      }
    }
  }

  .ToActionButton {

    svg {
      stroke: #fff;
      display: none;
    }

    @media (max-width: $desktopSmall - 1px) {
      background: $primary;
      font-size: 0;
      line-height: 0;
      padding: 12px;

      svg {
        display: block;
      }
    }
  }
}

.Logo {
  display: block;
  line-height: 0;
  margin-right: 6.86%;
}

.Hamburger {
  display: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  width: 20px;
  height: 12px;
  position: relative;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background: $black;
    border-radius: 2px;

    &::after {
      top: auto;
      bottom: 0;
    }
  }
}

@media (max-width: 640px) {
  .Header {
    padding: 8px 0;
  }
}

@media (max-width: $tabletSmall) {
  .Header {
    background: transparent;
  }
}

@media (max-width: $mobileLarge) {
  .Header {
    background: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    position: relative;
  }

  .Hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}